/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.production
npm-debug.log
/public/images
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
