/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.production
npm-debug.log
/public/images
/schedulerlogs/*
scheduler.bat

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

