option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: cohesion.cyv2mi8amvj0.sa-east-1.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_DATABASE
     value: cohesion
   - option_name: DB_USERNAME
     value: cohesion_admin
   - option_name: DB_PASSWORD
     value: c0h3s10n2018