<div class="navbar navbar-toggleable-md navbar-light navbar-personalizado">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="gym-logo"></div>
        <ul class="navbar-nav">
            <div ng-repeat="menu in nc.menus">
                <li class="nav-item {{'menu-item-'+($index+1)}}" ng-class="{active: menu.active, dropdown: menu.isDropdown}">
                    <a class="nav-link" ng-class="{'dropdown-toggle': menu.isDropdown}" href="{{menu.link}}" id="{{menu.id}}" data-toggle="{{menu.dataToggle}}" aria-haspopup="{{menu.hasPopup}}" aria-expanded="{{menu.expanded}}">
                        <span class="{{'menu-item-'+($index+1)+'-texto'}}">{{menu.nombre}}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="{{menu.id}}" ng-if="menu.isDropdown">
                        <a ng-repeat="item in menu.subMenus" class="dropdown-item {{'menu-dropdown-item-'+($parent.$index+1)}}" href="#"><span class="testo">{{item.nombre}}</span></a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</div>